.page{
    background-color: #2A2C2F;
    width:100%;
    padding: 0;
    color: #fff;
    margin: 0 auto;
    font-family: "Inter", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}