.cover__subtitle {
    max-width: 360px;
    margin: 0;
    min-height: 66px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 1.22;
    z-index: 3;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        height: auto;
        font-size: 14px;
        line-height: 1.143;
        max-width: 288px;
    }
}