.footer__copyright {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.143;
    }
@media  (max-width:320px){
    .footer__copyright {
        margin-top: 0;
        margin-bottom: 24px;
        line-height: 1;
    }
}