.lead__subtitle{
    max-width: 640px;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 64px;
}
@media  (max-width:1024px){
    .lead__subtitle{
        margin-bottom: 56px;
    }
}
@media (max-width:650px){
    .lead__subtitle{
        max-width: 288px;
        font-size: 16px;
        line-height: 1.25;
    }
}
@media  (max-width:320px){
    .lead__subtitle{
        margin: 16px 16px 40px 16px;
    }
}