.place__link {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.22;
text-decoration-line: underline;
color: #fff;
}
.place__link:hover{
    opacity: 0.8;
}
@media  (max-width:320px){
    .place__link{
        padding: 0 16px 0 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.222;
    }
}