.cover__overlay {
    position: relative;
    min-height: 740px;
    background: url(../../../images/to_baikal.png) rgba(42, 44, 47, 0.3);
    background-blend-mode: multiply;
    margin: 0 48px 92px 48px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    z-index: 2;
}
.cover__overlay:hover{
    background-color:  rgba(42, 44, 47, 0.6);
}
@media  (max-width:1024px){
    .cover__overlay{
        margin: 0 0 92px 0;
    }
}
@media  (max-width:768px){
    .cover__overlay{
        margin: 0 0 88px 0;
    }
}
@media  (max-width:320px){
    .cover__overlay{
        margin: 0 0 88px 0;
        min-height: 200px;
    }
}