.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 48px 24px 48px;
}
@media (min-width:1280px){
    .footer{
        max-width: 1184px;
        margin: 0 auto;
    }
}
@media  (max-width:768px){
    .footer {
        padding: 0 24px 24px 24px;
    } 
}
@media (max-width:650px){
    .footer {
        flex-direction: column;
    }
}
@media  (max-width:320px){
    .footer {
        padding: 0 16px 24px 16px;
    }
}